In [74]:
import dataprepkit as dpk

In [75]:
df = dpk.read_data("AirbnbListingEDA.csv","csv")

In [76]:
df.head()

          id                                              name   host_id host_name  neighbourhood_group    neighbourhood  latitude  longitude        room_type  price  minimum_nights  number_of_reviews last_review  reviews_per_month  calculated_host_listings_count  availability_365  number_of_reviews_ltm  license
0  1489424.0     Welcoming, easygoing, comfy bed, entire level   5294164     Efrat                  NaN  FOURTEENTH WARD  42.66719  -73.81580     Private room   50.0               1                242   2/10/2024               1.91                               1                 0                     48      NaN
1  2992450.0                        Luxury 2 bedroom apartment   4621559   Kenneth                  NaN       THIRD WARD  42.65789  -73.75370  Entire home/apt   70.0              28                  9   8/17/2022               0.08                               1               349                      0      NaN
2  3820211.0         Restored Precinct in Center Sq. w/Parking  19648678     Terra                  NaN       SIXTH WARD  42.65222  -73.76724  Entire home/apt  125.0               2                291  11/19/2023               2.52                               4               357                      8      NaN
3  5651579.0        Large studio apt  by Capital Center & ESP@  29288920     Gregg                  NaN      SECOND WARD  42.64615  -73.75966  Entire home/apt   68.0               2                333    2/1/2024               3.12                               2               148                     28      NaN
4  6623339.0  Center Sq. Loft in Converted Precinct w/ Parking  19648678     Terra                  NaN       SIXTH WARD  42.65222  -73.76724  Entire home/apt  140.0               1                306  12/26/2023               2.89                               4                 0                      5      NaN

In [77]:

dpk.summary(df)

summary of numeric attribute:
                  id       host_id  neighbourhood_group    latitude   longitude        price  minimum_nights  number_of_reviews  reviews_per_month  calculated_host_listings_count  availability_365  number_of_reviews_ltm  license
count  4.070000e+02  4.070000e+02                  0.0  407.000000  407.000000   364.000000      407.000000         407.000000         360.000000                      407.000000        407.000000             407.000000      0.0
mean   5.043183e+17  2.252770e+08                  NaN   42.657571  -73.776805   125.203297        5.336609          53.734644           1.983972                        4.783784        203.621622              16.088452      NaN
std    4.242364e+17  1.804499e+08                  NaN    0.009792    0.019578   135.585710       21.620830          97.440513           1.989692                        4.772915        134.340734              21.794767      NaN
min    1.489424e+06  6.490680e+05                  NaN   42.630660  -73.876489    26.000000        1.000000           0.000000           0.050000                        1.000000          0.000000               0.000000      NaN
25%    4.734039e+07  4.762598e+07                  NaN   42.652045  -73.790363    75.000000        1.000000           4.000000           0.520000                        1.000000         77.000000               1.000000      NaN
50%    6.686080e+17  1.886791e+08                  NaN   42.657300  -73.773513   100.000000        2.000000          15.000000           1.310000                        3.000000        248.000000               7.000000      NaN
75%    9.004550e+17  3.920749e+08                  NaN   42.662410  -73.761990   131.250000        3.000000          59.500000           2.722500                        6.000000        325.500000              22.000000      NaN
max    1.079740e+18  5.531120e+08                  NaN   42.714896  -73.738103  1750.000000      365.000000         770.000000          11.120000                       19.000000        365.000000             131.000000      NaN

summary of object attribute:
                                  name host_name neighbourhood        room_type last_review
count                             407       407           407              407         360
unique                            406       178            15                3         166
top     Lovely private room in Albany     Diana    SIXTH WARD  Entire home/apt   1/28/2024
freq                                2        22            86              285          13

In [78]:
df = df.drop(["neighbourhood_group","latitude","longitude","license"], axis=1)

In [80]:
df.isna().sum()

id                                 0
name                               0
host_id                            0
host_name                          0
neighbourhood                      0
room_type                          0
price                             43
minimum_nights                     0
number_of_reviews                  0
last_review                       47
reviews_per_month                 47
calculated_host_listings_count     0
availability_365                   0
number_of_reviews_ltm              0
dtype: int64

In [83]:
dpk.handle_missing_values(df["price"], "fill","median")
df["price"].isna().sum()

0

In [85]:
dpk.handle_missing_values(df["last_review"],"fill","mode")
df["last_review"].isna().sum()

0

In [88]:
dpk.handle_missing_values(df["reviews_per_month"],"fill",value=0)
df["reviews_per_month"].isna().sum()

0

In [89]:
df.isna().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood                     0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
number_of_reviews_ltm             0
dtype: int64

In [90]:
one_hot=dpk.encoding(df,["room_type"],False)

In [91]:
print(one_hot)

               id                                              name    host_id host_name    neighbourhood  price  minimum_nights  number_of_reviews last_review  reviews_per_month  calculated_host_listings_count  availability_365  number_of_reviews_ltm  room_type_Private room  room_type_Shared room
0    1.489424e+06     Welcoming, easygoing, comfy bed, entire level    5294164     Efrat  FOURTEENTH WARD   50.0               1                242   2/10/2024               1.91                               1                 0                     48                    True                  False
1    2.992450e+06                        Luxury 2 bedroom apartment    4621559   Kenneth       THIRD WARD   70.0              28                  9   8/17/2022               0.08                               1               349                      0                   False                  False
2    3.820211e+06         Restored Precinct in Center Sq. w/Parking   19648678     Terra       SIXTH WARD  125.0               2                291  11/19/2023               2.52                               4               357                      8                   False                  False
3    5.651579e+06        Large studio apt  by Capital Center & ESP@   29288920     Gregg      SECOND WARD   68.0               2                333    2/1/2024               3.12                               2               148                     28                   False                  False
4    6.623339e+06  Center Sq. Loft in Converted Precinct w/ Parking   19648678     Terra       SIXTH WARD  140.0               1                306  12/26/2023               2.89                               4                 0                      5                   False                  False
..            ...                                               ...        ...       ...              ...    ...             ...                ...         ...                ...                             ...               ...                    ...                     ...                    ...
402  1.072780e+18                               The Bluebird’s Nest  426223840   Antonio    ELEVENTH WARD  117.0               1                  0        mode               0.00                               2                 0                      0                   False                  False
403  1.073180e+18                            In the heart of Albany   31994990      G.G.     SEVENTH WARD   53.0              30                  0        mode               0.00                               2               271                      0                   False                  False
404  1.074650e+18                                    Room available  480004905     Ramiz    ELEVENTH WARD   60.0               1                  0        mode               0.00                               2               269                      0                    True                  False
405  1.075440e+18                                The Tangerine Door  542733174   Rebecca     TWELFTH WARD  110.0               2                  1    2/4/2024               1.00                               1               241                      1                   False                  False
406  1.079740e+18                  Lark St Oasis: Parking & Laundry  119340359      Lori       SIXTH WARD   98.0              28                  0        mode               0.00                               2               267                      0                   False                  False

[407 rows x 15 columns]

In [92]:
dpk.encoding(df,"room_type",True)

In [93]:
df["room_type"]

0      1
1      0
2      0
3      0
4      0
      ..
402    0
403    0
404    1
405    0
406    0
Name: room_type, Length: 407, dtype: int32